<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Book store{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{{ include('nav/_nav.html.twig') }}
<div class="container-fluid p-0 mt-3">
    {% block body %}

    {% endblock %}
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

{% endblock %}
</body>
</html>
